:root {
  --border-color: #e0e0e0;
  --white-text-color: #fff;
  --black-text-color: #1d1d1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

hr {
  background: var(--white-text-color);
  opacity: 0.4;
  margin: 0;
}

.wrapper {
  width: 956px;
  margin: 0 auto;
  padding-left: 10px;
}

/* header */
header {
  display: grid;
  grid-template-columns: auto 243px 481px 232px auto;
  grid-template-rows: 72px 17px 80px;
  justify-items: start;
  justify-content: center; 
  align-items: center;
  grid-template-areas: ". logo order entries ."
    "border border border border border"
    ".  search search search .";

  margin-bottom: 40px;
}

.logo {
  grid-area: logo;
}

.logo_img {
  width: 120px;
  height: 14px;
}

/* order  */

.order__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: order;
}

.order__text {
  margin: 0 10px;
  color: #626262;
  font-size: 16px;
  font-weight: 300;
}

.order__input {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px;
  height: 40px;
  line-height: 24px;
  color: var(--black-text-color);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
}

.when__input {
  width: 65px;
  text-align: center;
}

.address__input {
  max-width: 300px;
  width: 290px;
  min-width: 210px;
  padding-left: 36px;
}

.address {
  position: relative;
}

.location {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

/* entries */

.entries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: entries;
}

.entries > button {
  width: 80px;
  height: 40px;
  margin-right: 16px;
}

.sign_in {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  background: var(--white-text-color);
}

.register {
  background: #262626;
  border-radius: 2px;
  color: var(--white-text-color);
  border: none;
}

.header_border {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid silver;
  box-shadow: 0 4px 10px rgba(38, 38, 38, 0.16);
  grid-area: border;
}

/* search */

.search__input {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  min-width: 190px;
  width: 300px;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 8px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  grid-area: search;
}

.search__img {
  margin: 0 0 2px 2px;
}

.search_hr {
  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* main */

/* cards */

.cards {
  margin: 15px 0 63px;
  display: grid;
  grid-template-columns: 308px 308px 308px ;
  grid-template-rows: 366px 366px 382px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.cards__main-text {
  font-size: 22px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: var(--black-text-color);
  margin-top: 56px;
}

.card {
  color: var(--black-text-color);
}

.card__name {
  margin: 11px 0 4px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-text-color);
}

.is_active {
  background: rgba(117, 117, 117, 0.04);
  
}

.card__type {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 0;
}

.card__time {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0 20px;
}

/* footer */

footer {
  background: #262626;
}

.footer__logo_img {
  width: 190px;
  height: 20px;
  margin: 56px 0 36px;
}

.footer__menu {
  display: grid;
  padding-top: 32px;
  grid-template-columns: 320px auto;
  grid-template-rows: 186px;
}

.footer__menu_links {
  display: grid;
  grid-template-rows: 40px 52px 44px;
  align-items: end;
}

.languages {
  width: 227px;
  height: 40px;
  padding-left: 45px;
  font-size: 12px;
  line-height: 14px;
  color: var(--white-text-color);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url("image/Shape.png");
  background-repeat: no-repeat;
  background-size: 14px 8px;
  background-position: 205px center;
  background-color: #3b3b3b;
  border-radius: 2px;
}

.select_lang {
  position: relative;
}

.world {
  position: absolute;
  left: 14px;
  top: 12px;
}

.footer__tag {
  color: var(--white-text-color);
  font-size: 16px;
  line-height: 19px;
}

.tag_green {
  color: #49a144;
}

.footer__networks {
  display: grid;
  grid-template-columns: 24px 24px 24px;
  grid-column-gap: 10px;
}

.fm_item_1 {
  grid-area: item1;
}

.fm_item_2 {
  grid-area: item2;
}

.fm_item_3 {
  grid-area: item3;
}

.fm_item_4 {
  grid-area: item4;
}

.fm_item_5 {
  grid-area: item5;
}

.fm_item_6 {
  grid-area: item6;
}

.fm_item_7 {
  grid-area: item7;
}

.footer__menu-items {
  display: grid;
  grid-template-columns: 324px auto ;
  grid-template-rows: 20px 39px 39px 39px;
  grid-template-areas: "item1 item4"
    "item2 item5"
    "item3 item6"
    ". item7";
  align-items: end;
}

.footer__text {
  font-size: 13px;
  line-height: 14px;
  color: var(--white-text-color);
  margin: 0;
}

.footer__apps {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 120px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 33px;
}

.footer__info {
  display: grid;
  grid-template-columns: 322px 324px auto;
  grid-template-rows: 93px;
  align-items: center;
  justify-content: start;
}

.footer__infos {
  color: var(--white-text-color);
  font-size: 11px;
  line-height: 13px;
}

.up {
  position: fixed;
  /* display: none;*/
  height: 80px;
  width: 80px;
  bottom: 25px;
  right: 19px;
  background: url(image/up.png);
  background-repeat: no-repeat;
  background-size: 16px 25px;
  background-position: center;
  background-color: #59bd5a;
  border-radius: 2px;
}
