:root {
  --border-color: #e0e0e0;
  --white-text-color: #fff;
  --black-text-color: #1d1d1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

hr {
  background: var(--white-text-color);
  opacity: 0.4;
  margin: 0;
}

.wrapper {
  width: 956px;
  margin: 0 auto;
  padding-left: 10px;
}

/* header */
header {
  display: grid;
  grid-template-columns: 245px 481px 232px;
  grid-template-rows: 71px;
  justify-items: start;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  grid-template-areas: "logo order entries";
  padding-left: 5px;
  border-bottom: 1px solid silver;
  box-shadow: 0 4px 10px rgba(38, 38, 38, 0.16);
}

.logo {
  grid-area: logo;
}

.logo_img {
  width: 120px;
  height: 15px;
}

/* order  */

.order__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: order;
}

.order__text {
  margin: 0 10px;
  color: #626262;
  font-size: 16px;
  font-weight: 300;
}

.for_mobile {
  display: none;
}

.order__input {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px;
  height: 40px;
  line-height: 24px;
  color: var(--black-text-color);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
}

.when__input {
  width: 65px;
  text-align: center;
}

.address__input {
  width: 290px;
  padding-left: 36px;
}

.address {
  position: relative;
}

.location {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

/* entries */

.entries {
  display: grid;
  grid-template-columns: 80px 80px 40px;
  grid-template-rows: 72px;
  grid-column-gap: 16px;
  justify-content: space-between;
  align-items: center;
  grid-area: entries;
}

.entries > a {
  width: 80px;
  height: 40px;
  margin-right: 16px;
  text-align: center;
  line-height: 40px;
}

.sign_in {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  background: var(--white-text-color);
}

.register {
  background: #262626;
  border-radius: 2px;
  color: var(--white-text-color);
  border: none;
}

/* main */
/* search */

.search__input {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  min-width: 190px;
  width: 97%;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 8px;
}

.search__input:focus {
  outline: none;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.search__img {
  margin: 0;
}

.search_hr {
  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
  width: 100%;
}

.search-box {
  grid-area: search;
  align-self: end;
}

/* cards */

main {
  display: grid;
  grid-template-columns: 956px;
  grid-template-rows: 80px 106px 1210px;
  justify-content: center;
  align-items: end;
  grid-template-areas: "search"
    "main_text"
    "cards";
}

.cards {
  margin: 15px 0 63px;
  display: grid;
  grid-template-columns: 308px 308px 308px ;
  grid-template-rows: 366px 366px 382px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  grid-area: cards;
}

.cards__main-text {
  font-size: 22px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: var(--black-text-color);
  grid-area: main_text;
  padding-bottom: 15px;
}

.card {
  color: var(--black-text-color);
}

.card__name {
  margin: 11px 0 4px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--black-text-color);
}

.is_active {
  background: rgba(117, 117, 117, 0.04);
  
}

.card__type {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 0;
}

.card__time {
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 15px;
  margin-top: 5px;
}

/* footer */

footer {
  background: #262626;
  display: grid;
  grid-template-columns: 956px;

  justify-content: center;
}

.footer__logo_img {
  width: 190px;
  height: 20px;
  margin: 56px 0 36px;
}

.footer__menu {
  display: grid;
  padding-top: 32px;
  grid-template-columns: 324px auto;
  grid-template-rows: 186px;
}

.footer__menu_links {
  display: grid;
  grid-template-rows: 40px 52px 44px;
  align-items: end;
}

.languages {
  width: 227px;
  height: 40px;
  padding-left: 45px;
  font-size: 12px;
  line-height: 14px;
  color: var(--white-text-color);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url("image/Shape.png");
  background-repeat: no-repeat;
  background-size: 14px 8px;
  background-position: 95% center;
  background-color: #3b3b3b;
  border-radius: 2px;
}

.select_lang {
  position: relative;
}

.world {
  position: absolute;
  left: 14px;
  top: 12px;
}

.footer__tag {
  color: var(--white-text-color);
  font-size: 16px;
  line-height: 19px;
}

.tag_green {
  color: #49a144;
}

.footer__networks {
  display: grid;
  grid-template-columns: 24px 24px 24px;
  grid-column-gap: 10px;
}

.fm_item_1 {
  grid-area: item1;
}

.fm_item_2 {
  grid-area: item2;
}

.fm_item_3 {
  grid-area: item3;
}

.fm_item_4 {
  grid-area: item4;
}

.fm_item_5 {
  grid-area: item5;
}

.fm_item_6 {
  grid-area: item6;
}

.fm_item_7 {
  grid-area: item7;
}

.footer__menu-items {
  display: grid;
  grid-template-columns: 324px auto ;
  grid-template-rows: 20px 39px 39px 39px;
  grid-template-areas: "item1 item4"
    "item2 item5"
    "item3 item6"
    ". item7";
  align-items: end;
}

.footer__text {
  font-size: 13px;
  line-height: 14px;
  color: var(--white-text-color);
  margin: 0;
}

.footer__apps {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 120px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 30px;
}

.footer__info {
  display: grid;
  grid-template-columns: 322px 324px auto;
  grid-template-rows: 93px;
  align-items: center;
  justify-content: start;
}

.footer__infos {
  color: var(--white-text-color);
  font-size: 11px;
  line-height: 13px;
}

.up {
  position: fixed;
  /* display: none;*/
  height: 80px;
  width: 80px;
  bottom: 25px;
  right: 19px;
  background: url(image/up.png);
  background-repeat: no-repeat;
  background-size: 16px 25px;
  background-position: center;
  background-color: #59bd5a;
  border-radius: 2px;
}

@media (min-width: 640px) and (max-width: 1023px) {

  hr {
    width: 98%;
  }

  header {
    grid-template-columns: 110px 305px 232px ;
    grid-template-rows: 72px;
    justify-content: space-between;

    max-width: 1024px;
  }

  .logo_img {
    width: 110px;
    height: 12px;
  }

  .when__input {
    width: 57px;
  }

  .address__input {
    width: 215px;
  }

  main {
    grid-template-columns: 99%;
    grid-template-rows: 79px 106px 1973px;
    grid-template-areas: "search"
      "main_text"
      "cards";
    width: 100%;
  }

  .search,
  .cards__main-text {
    padding-left: 6px;
  }

  .card__img {
    width: 99%;
    height: 256px;
  }

  .cards {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 366px 366px 366px 366px 382px;

    justify-content: space-around;
    align-content: end;
    width: 100%;
  }

  footer {
    grid-template-columns: 97%;
  }

  .footer__menu {
    grid-template-columns: 264px auto;
  }

  .footer__menu-items {
    grid-template-columns: auto auto ;
  }

  .languages {
    width: 176px;
  }

  .footer__info {
    grid-template-columns: 266px 266px auto;
    grid-template-rows: 93px;
  }

}

@media (min-width: 300px) and (max-width: 640px) {

  hr {
    width: 98%;
  }

  header {
    grid-template-columns: 105px  166px ;
    grid-template-rows: 72px;
    justify-content: space-between;
    grid-template-areas: "logo entries";
    position: relative;
    padding-left: 8px;
  }

  .logo_img {
    width: 105px;
    height: 12px;
  }

  .order__form {
    position: absolute;
    bottom: -165px;
    left: 5px;
    width: 95%;
  }

  .order__text {
    display: inline-block;
    position: absolute;
    bottom: 48px;
    font-size: 11px;
    left: -8px;
  }

  .for_mobile_to {
    left: 75px;
    text-transform: capitalize;
  }

  .address {
    margin-left: 16px;
    width: 100%;
  }

  .address__input {
    width: 100%;
  }

  .entries {
    grid-template-columns: 72px 72px;
    grid-column-gap: 12px;
    margin-left: 5px;
  }

  .entries > a {
    width: 72px;
  }

  .basket {
    display: none;
  }

  main {
    grid-template-columns: 99%;
    grid-template-rows: 79px 85px 87px 3422px;
    grid-template-areas: "search"
      "."
      "main_text"
      "cards";
    width: 100%;
    justify-content: center;
  }

  .search,
  .cards__main-text {
    padding-left: 6px;
  }

  .search__img {
    width: 16px;
  }

  .search__input {
    font-size: 13px;
  }

  .card__img {
    width: 97%;
    max-width: 360px;
    height: 246px;
  }

  .cards {
    grid-template-columns: 98%;
    grid-template-rows: 356px 356px 356px 356px 356px 356px 356px 356px 382px;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .card {
    text-align: center;
  }

  footer {
    grid-template-columns: 97%;
  }

  .footer__menu {
    grid-template-columns: 98%;
    grid-template-rows: 165px 295px;
  }

  .languages {
    width: 176px;
  }

  .footer__menu-items {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 20px 39px 39px 39px 39px 39px 39px;
    grid-template-areas: "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7";
    align-items: end;
  }

  .footer__apps {
    grid-template-columns: 109px 109px;
    grid-template-rows: 84px;
    grid-column-gap: 25px;
  }

  .footer__app > a > img {
    width: 109px;
    height: 36px;
  }

  .footer__info {
    grid-template-columns: auto;
    grid-template-rows: 63px 37px 37px;
    align-items: end;
    padding-bottom: 40px;
  }

  .up {
    height: 64px;
    width: 64px;
  }

}
